<div class="container">
    <h4>{{tenant.TenantId ? 'Edit' : 'Add'}} Tenant</h4>
    <div class="well">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="tenantFirstName">Tenant First Name</label>
                    <input type="text" class="form-control" id="tenantFirstName"
                           placeholder="Tenant First Name" ng-model="tenant.FirstName">
                </div><!-- end form group -->
            </div><!-- end column -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="tenantLastName">Tenant Last Name</label>
                    <input type="text" class="form-control" id="tenantLastName"
                           placeholder="Tenant Last Name" ng-model="tenant.LastName">
                </div><!-- end form group -->
            </div><!-- end column -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="tenantTelephone">Tenant Telephone</label>
                    <input type="text" class="form-control" id="tenantTelephone"
                           placeholder="Telephone" ng-model="tenant.Telephone">
                </div><!-- end form group -->
            </div><!-- end column -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="tenantEmailAddress">Tenant Email Address</label>
                    <input type="text" class="form-control" id="tenantEmailAddress"
                           placeholder="Email Address" ng-model="tenant.EmailAddress">
                </div><!-- end form group -->
            </div><!-- end column -->
        </div><!-- end row -->

        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <button class="btn btn-success btn-sm" ng-click="saveTenant()">
                    <i class="fa fa-save"></i> Save
                </button>
            </div><!-- end column -->
            <div class="col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-danger btn-sm pull-right" ui-sref="tenant.grid">
                    <i class="fa fa-remove fa-fw"></i> Cancel
                </button>
            </div><!-- end column -->
        </div><!-- end row -->
    </div><!-- end well -->
</div> <!-- end container -->