.mainLoginContainer {
    margin: 0 auto;
    width: 30%;
    padding-top: 74px;
}

.buttonContainer {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
}

.createAccount {
    

  
  
}

.createAccount:hover {
    color: coral;
}

.iconCloud {
    font-size: 150px;
    margin-bottom: -50px;
}

.dateRow {
    padding-top: 50px;
}

.lease-detail-container,.lease-detail, .tenant-detail {
    max-width: 100%;
    overflow-x: hidden;
}

/*Effects*/
.svg{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}

.form-signin{
    margin-top: -500px;
    position: fixed; 
    padding-left: 350px;
}
.mainLoginContainer{
position: inherit;
}


















