<div class="container registerCon">
    <div id="signup" class="clear">


        <a href="index.html" class="logo">
            <h1 class="iconCloud"><i class="ion ion-cloud"></i></h1>
        </a>

        <h3>Create Your Account Now</h3>

        <div class="content">
            <form>
                <div class="form-group">
                    <strong>Your Information</strong>
                </div>
                <div class="form-group">
                    <label for="inputUsername">Enter Username</label>
                    <input class="form-control" id="inputUsername" type="text" ng-model="userData.username" placeholder="Your Username" />
                </div>
                <div class="form-group">
                    <label for="inputPassword">Enter Password</label>
                    <input class="form-control" id="inputPassword" type="password" ng-model="userData.password" placeholder="Password" />
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword">Enter Confirm Password</label>
                    <input class="form-control" type="password" id="inputConfirmPassword" ng-model="userData.confirmPassword" placeholder="Confirm password" />
                </div>
                <div class="signup">
                    <a ng-click="registerAccount()" class="btn btn-success btn-lg">Create my account</a>
                </div>
            </form>
        </div>

        <div class="bottom-wrapper">
            <div class="message">
                <span>Already have an account?</span>
                <button class="btn btn-warning btn-lg" ng-click="go2login()">Sign in here</button>
            </div>
        </div>

    </div>
</div>