<div ng-controller="DashboardController" class="Container">
    <div class="row">
        <div class="page-header">
            Main DashBoard
        </div>
    </div>
    <div class="row row1">
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Property Count</h3>
                </div>
                <div class="panel-body">
                    {{dashboard.PropertyCount}}
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Lease Count</h3>
                </div>
                <div class="panel-body">
                    {{dashboard.LeaseCount}}
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Total Tenant Count</h3>
                </div>
                <div class="panel-body">
                    {{dashboard.TenantCount}}
                </div>
            </div>
        </div>

        <!-- Right Hand Side Change Counter   /-->
        <div class="col-lg-3 col-md-3">
            <div class="row">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Total Monthly Income from Rent</h3>
                    </div>
                    <div class="panel-body">
                        <h1 class="count" count-to="{{countTo}}" value="{{countFrom}}" duration="4"></h1>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="page-header">
                <h1>Leases Expiring Soon: {{dashboard.ExpiringLeases.length}}</h1>
            </div>

            <div ng-repeat="lease in dashboard.ExpiringLeases" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Lease Id: {{lease.LeaseId}}</h3>
                </div>
                <div class="panel-body">

                    <div class="well">
                        <h4>Lease Information</h4>
                        
<!--                       Erase Late -->
                        <h4> Temp: {{lease.PercentageOfLeaseCompleted}}</h4>
                        
                               <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Rent Amount</th>
                                  

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{lease.StartDate | date}}</td>
                                    <td>{{lease.EndDate | date}}</td>
                                    <td>{{lease.Rent | currency}}</td>
                              

                                </tr>

                            </tbody>
                        </table>
                                     
                        <h4>Lease Length</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{lease.PercentageOfLeaseCompleted}}" aria-valuemin="0" aria-valuemax="100" style="width: {{lease.PercentageOfLeaseCompleted}}">
                                <span class="sr-only">{{lease.PercentageOfLeaseCompleted}}% Complete</span>
                            </div>
                        </div>

                    </div>





                    <div class="well">
                        <h4>Tenant Information</h4>
                        
                        <a href="mailto:{{lease.Tenant.EmailAddress}}"><button type="button" class="btn btn-info pull-right">Email Tenant</button></a>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Telephone</th>
                                    <th>Email Address</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{lease.Tenant.FirstName}}</td>
                                    <td>{{lease.Tenant.LastName}}</td>
                                    <td>{{lease.Tenant.Telephone | tel}}</td>
                                    <td>{{lease.Tenant.EmailAddress}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>



                    <div class="well">
                        <h4>Property Information</h4>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Property ID</th>
                                    <th>Property Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{lease.PropertyId}}</td>
                                    <td>{{lease.Property.Name}}</td>
                                    <td>{{lease.Property.Address1}} {{lease.Property.Address2}}</td>
                                    <td>{{lease.Property.City}}</td>
                                    <td>{{lease.Property.State}}</td>
                                    <td>{{lease.Property.Zip}}</td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>






        </div>










    </div>