<div class="Container">
    <div class="row">
        <div class="page-header">
            Main DashBoard
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8">
        </div>
        <!-- Right Hand Side Change Counter   /-->
        <div class="col-lg-4 col-md-4">
            <div>
                <div class="odometer" id="odometer"></div>
               <h1 class="count" count-to="{{countTo}}" value="{{countFrom}}" duration="4"></h1><br>
<countUp></countUp>
        </div>
    </div>






</div>
    
  