body {}

.titleText {
    margin-top: -20px;
}

.viewPort {
    width: 90%
}

html,
body {}


/*Total Rent*/

.TotalRent {
    border: 1px solid black;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
}

.row1{
    border-bottom: 2px dotted black;
}